body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  min-height: 100dvh;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#error-container {
  background-color: #fff;
  /* padding: 30px 50px; */
  padding: 0;
  border-radius: 4px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 90vw;
}
#error-container .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000022;
}
#error-container .error-title {
  margin: 0;
  padding: .25rem .5rem;
  font-size: 24px;
  color: #e74c3c; /* Red color for error */
}
#error-container .error-close {
  padding: 0 6px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#error-container .error-description {
  margin-block: 0;
  padding-inline: .25rem;
  padding-block: 1rem .5rem;
  font-size: 16px;
  color: #555;
}
#error-container::backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .2);
}

header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(86, 22, 4);
  align-items: center;
  color: white;
  width: 100%;
}
#header-container {
  margin-left: auto;
  display: fixed;
  flex-direction: row;
  align-items: center;
}

header img {
  height: 15vh;
  margin: 2vh;
  cursor: pointer;
}
/* Button common styling */
button {
  font-size: 16px;
  padding: 1.5vw 2vw;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* margin: 0 10px;   */
}
.header-button-container {
  margin-right: 5vw;
}
@media (max-width: 700px) {
  header h1 {
    display: none;
  }
}

#login-button {
  background-color: #ffffff;
  border: 2px solid rgb(86, 22, 4); 
  color: rgb(86, 22, 4);  
  min-width: 10vw;
}

#login-button:hover {
  background-color: rgb(86, 22, 4);  
  color: #ffffff;
}

#logout-button {
  background-color: #ffffff;
  border: 2px solid rgb(86, 22, 4);
  color: rgb(86, 22, 4);  
  min-width: 10vw;
} 

#logout-button:hover {
  background-color: rgb(86, 22, 4);  
  color: #ffffff;
}

div {
  margin-left: 2vw;
}
/* Remove list-style and reset padding & margin */
#nameList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#home-page {
  margin-right: 5%;
}
#nameList li {
  border-bottom: 1px solid #eaeaea; /* Light grey border */
  padding: 16px 0; /* Some padding on top and bottom of each list item */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#nameList li:hover {
  background-color: #f5f5f5; /* Light grey background on hover */
}

#nameList a {
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Ensure link takes color from parent */
  display: block; /* Make the entire block clickable */
  padding: 8px 16px; /* Padding for better click area and spacing */
}

#nameList h2 {
  font-size: 20px; /* Increase font-size for the title */
  margin: 0; /* Remove default margin */
  color: rgb(86, 22, 4); /* Dark blue color, similar to Google search result links */
  margin-bottom: 8px; /* Some space between title and description */
}

#nameList h4 {
  font-size: 14px; /* Slightly smaller font-size for the description */
  margin: 0; /* Remove default margin */
  color: #333; /* Dark grey color for the description text */
}

/* Optional: style for the link when it's active (i.e., during a mouse click) */
#nameList a:active {
  background-color: #eaeaea; /* A shade of grey for active link */
}
#searchInput {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* Common style for both input and select for consistency */
#searchInput, #ministryDropdown {
  width: calc(50% - 6px); /* 50% width minus half the gap between them */
  padding: 12px;
  margin: 12px 0;
  margin-right: 6px; /* A small gap between the input and dropdown */
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px; /* Matching font size with your input */
  transition: 0.3s; /* Smooth transition for hover effects */
}

#ministryDropdown {
  cursor: pointer; /* Indicates it's clickable */
}

/* Hover effect for the dropdown */
#ministryDropdown:hover {
  border-color: #999; /* A slightly darker border on hover */
}

/* When the dropdown is focused (clicked on or navigated via keyboard) */
#ministryDropdown:focus {
  outline: none; /* Remove default browser outline */
  border-color: #666; /* Even darker border for focus */
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.2); /* A subtle focus shadow */
}

#procedure-search-filters {
  display: flex;
  flex-direction: row;
}